body{
  font-family: sans-serif;
  text-align: center;

}
.container{
  background-color: black;
  padding: 60px;
}
#info{
  color: yellow;
  font-size: 30px;
  border: solid red;
  border-radius: 8px;
  padding: 40px;
  width: 40%;
}
.text{
  font-weight :100;
  font-size: 90px;
  color :green;
  text-align: center;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}
.shadow{
  font-size:16em;
  text-align:center;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}


h1 {
color: red;
font-size: 2em;
font-weight: bold;
font-family: Helvetica;
text-shadow: 0 1px 0 green, 0 2px 0 red, 0 3px 0 red, 0 4px 0 red, 0 5px 0 blue, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px;
color: grey;
font-size: 6em;
}
